<html>
    {% extends 'to_do_app/base.html' %}
    {% load static %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block content %}
    <div class="view-cls">
        <h1>To Do App</h1>
        <table>
            <tr>
                <th>Activity</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            {% for data in data %}
            <tr>
                <td>{{data.Content}}</td>
                <td>{{data.Date}}</td>
                <td>
                    <a href="/to_do_app/delete/{{data.id}}">X Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <a href="/to_do_app">
            <input type="button" value="Home">
        </a>
    </div>
    {% endblock %}
</html>